@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: #fee440;
}
.btn {
  border: black 1px solid;
  width: calc(100% + 25px);
  border-radius: 5px;
}
.btn:hover {
  background-color: var(--primary);
  color: #fff;
  transition: all 0.1s ease-in;
  transform: translateY(-1px);
  border-radius: 5px;
}
