@tailwind base;
@tailwind components;
@tailwind utilities;
.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.error-image {
  max-width: 35%;
}
